
<app-navbar></app-navbar>

<div class="container">
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <br>
      <h1 align="center">Peoples from Star Wars</h1>
     <div *ngFor="let p of people">
        <h5 (click)="getPeopleByName(p.name)">{{ p.name }} </h5>
      </div>

      <div *ngIf="!people">
        <p>Algo aconteceu e não mostraremos os nomes dos personagens :( </p>
      </div>
 
    </div>

<!-- Next job -->
    <!-- Card -->
    <!-- <div class="row">
      <div class="container">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="card">
          <div class="card-body">
              <h4 class="card-title">Card title</h4>
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
 -->





</div>
</div>

